.navbar-inner {
	padding: 7px 0;

	background: #2c3e50 !important;

	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.dropdown-menu li>a:hover, .dropdown-menu .active>a, .dropdown-menu .active>a:hover { background:#2c3e50;}
