<!-- META -->
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<title>{{ page.title }}</title>

{% if page.layout == 'post' %}
<meta name="description" content="{{ page.description }}{{ page.excerpt }}">
{% else %}
<meta name="description" content="{{ page.description }}{{ page.excerpt }}">
{% endif %}

<meta name="keywords" content="social media bot, social media automation, social media robot, instagram bot, soundcloud bot, twitter bot">

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="Somiibo Feed">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
