<div class="space10"></div>
<div class="tiles light-gallery">
  <div class="items row text-center">
    <div class="item col-xs-4">
      <figure class="overlay overlay1 mb-0"><span class="bg"></span><a href="https://somiibo.com/blog/posts/{{page.post_id}}/{{include.img}}" title="{{include.title}}"></a> <img src="https://somiibo.com/blog/posts/{{page.post_id}}/{{include.img}}" alt="{{include.title}}">
        <figcaption>
          <h5 class="from-top mb-0">View Larger</h5>
        </figcaption>
      </figure>
    </div>
    <div class="col-xs-8">
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="space10"></div>
