<!-- FIREBASE -->
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js" defer></script>
<!-- <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-app.js" defer></script> -->
<script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-auth.js" defer></script>
<!-- <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-database.js" defer></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-messaging.js" defer></script> -->

<!---FIREBASE-->
<script src="/assets/js/firebase/firebase_auth.js?v=00002" defer></script>

<!--FIREBASE2-->
<script src="/assets/js/firebase/firebase_loginjs.js?v=00002" defer></script>

<!--FIREBASE2-->
<script src="/assets/js/firebase/firebase_navcontroller.js?v=00002" defer></script>
