<!-- FIREBASE -->
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js" defer></script>
<!-- <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-auth.js" defer></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-app.js" defer></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-database.js" defer></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-messaging.js" defer></script> -->
<script src="/assets/js/firebase/firebase_auth.js?v={{ site.time | date: '%s' }}" defer></script>
<script src="/assets/js/firebase/firebase_loginjs.js?v={{ site.time | date: '%s' }}" defer></script>
