<footer class="dark-wrapper inverse-text">
  <div class="container inner pt-60 pb-60">
    <div class="row">

      <div class="col-sm-6 col-md-3">
        <div class="widget">
          <h5 class="widget-title">Somiibo</h5>
          <!-- Somiibo is automation made simple for a range of actions on social media platforms. It’s a fact that profiles with more activity get more attention – let Somiibo help you engage those interested users. -->
          <p>Somiibo is a premium Social Media Bot and growth service that automates your social marketing. Somiibo supports SoundCloud, Twitter, Instagram, Facebook, YouLikeHits, AddMeFast, and many other tools to help you get free followers, likes, and more!</p>
        </div>
        <!-- /.widget -->

        <div class="widget">
          <h5 class="widget-title">Connect with Somiibo</h5>
          <ul class="social social-color social-s" itemscope itemtype="http://schema.org/Organization">
            <link itemprop="url" href="https://somiibo.com">

            <li><a itemprop="sameAs" href="https://twitter.com/somiibo" rel="nofollow"><span class="et-twitter"></span></a></li>
            <li><a itemprop="sameAs" href="https://www.facebook.com/somiibo/" rel="nofollow"><span class="et-facebook"></span></a></li>
            <li><a itemprop="sameAs" href="https://www.instagram.com/somiibo/" rel="nofollow"><span class="et-instagram"></span></a></li>
            <li><a itemprop="sameAs" href="https://www.pinterest.com/somiibo/" rel="nofollow"><span class="et-pinterest"></span></a></li>
            <li><a itemprop="sameAs" href="https://somiibo.tumblr.com/" rel="nofollow"><span class="et-tumblr"></span></a></li>
            <li><a itemprop="sameAs" href="https://plus.google.com/107387690608893214626" rel="nofollow"><span class="et-google"></span></a></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>


      <div class="col-sm-6 col-md-3">
        <div class="widget">
          <h5 class="widget-title">Explore</h5>
          <ul class="list-unstyled">
            <li><a href="{{site.url}}/platforms{{site.trailing}}" class="nocolor">Platforms</a></li>
            <li><a href="{{site.url}}/signup{{site.trailing}}" class="nocolor">Sign Up</a></li>
            <li><a href="{{site.url}}/about{{site.trailing}}" class="nocolor">How it Works</a></li>
            <li><a href="{{site.url}}/packages{{site.trailing}}" class="nocolor">Packages</a></li>
            <li><a href="{{site.url}}/blog{{site.trailing}}" class="nocolor">Blog</a></li>
            <li><a href="{{site.url}}/signin{{site.trailing}}" class="nocolor">Sign In</a></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="widget">
          <h5 class="widget-title">Support</h5>
          <ul class="list-unstyled">
            <li><a href="{{site.url}}/support{{site.trailing}}" class="nocolor">Support</a></li>
            <li><a href="{{site.url}}/contact{{site.trailing}}" class="nocolor">Contact</a></li>
            <li><a href="{{site.url}}/tos{{site.trailing}}" class="nocolor">Terms of Service</a></li>
            <li><a href="{{site.url}}/privacy{{site.trailing}}" class="nocolor">Privacy Policy</a></li>
            <li><a href="{{site.url}}/sitemap{{site.trailing}}" class="nocolor">Sitemap</a></li>
            <li><a href="https://forum.somiibo.com" class="nocolor">Forum</a></li>

          </ul>
        </div>
        <!-- /.widget -->
      </div>

      <!-- /column -->
      <div class="space30 visible-sm clearfix"></div>

      <div class="col-sm-6 col-md-3">
        <div class="widget">
          <h5 class="widget-title">Subscribe</h5>
          <div class="newsletter-wrapper">
            <form action="//somiibo.us16.list-manage.com/subscribe/post?u=06dd652b8c707fdf51ebcff20&amp;id=3e1d6746ec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="form-group">
                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email Address" required>
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-rounded mr-0 pull-right">Join</button>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_ddc180777a163e0f9f66ee014_056957de28" tabindex="-1" value="">
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.widget -->

        <div class="widget">
          <h5 class="widget-title">Categories</h5>
          <ul class="unordered-list">
            <li><a href="{{site.url}}" class="nocolor">Social Media Bot</a></li>
            <li><a href="{{site.url}}/platforms/instagram-bot{{site.trailing}}" class="nocolor">Instagram Bot</a></li>
            <li><a href="{{site.url}}/platforms/soundcloud-bot{{site.trailing}}" class="nocolor">SoundCloud Bot</a></li>
            <li><a href="{{site.url}}/platforms/youlikehits-bot{{site.trailing}}" class="nocolor">YouLikeHits Bot</a></li>
            <li><a href="{{site.url}}/platforms/addmefast-bot{{site.trailing}}" class="nocolor">AddMeFast Bot</a></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <div class="sub-footer dark-wrapper inverse-text">
    <div class="container inner text-center">
      <p>Copyright &copy; 2018 <a href="{{site.url}}">Somiibo</a> &nbsp;  | &nbsp;  All Rights Reserved &nbsp;  | &nbsp;  DMCA / infringement - <a href="{{site.url}}/intellectual-property{{site.trailing}}" class="">intellectual property</a></p>
      <p>Somiibo is not affiliated with Facebook, Twitter, SoundCloud, Instagram, YouTube, YouLikeHits, AddMeFast or any other services in the platforms section <a href="{{site.url}}/sitemap{{site.trailing}}#platforms">listed here </a> </p>

    </div>
    <!-- /.container -->
  </div>
  <!-- /.sub-footer -->
</footer>
