<!-- ADBLADE CPC BANNER -->
<!-- <ins class="adbladeads" data-cid="33174-2633536011" data-host="web.adblade.com" data-tag-type="4" data-protocol="https" style="display:none"></ins> -->
<!-- <script async src="https://web.adblade.com/js/ads/async/show.js" type="text/javascript"></script> -->

<!-- AMAZON CPC BANNER -->
<!-- <div class="alignleft">
     <script type="text/javascript">
       	amzn_assoc_ad_type = "banner";
	amzn_assoc_marketplace = "amazon";
	amzn_assoc_region = "US";
	amzn_assoc_placement = "assoc_banner_placement_default";
	amzn_assoc_campaigns = "gift_certificates";
	amzn_assoc_banner_type = "category";
	amzn_assoc_isresponsive = "true";
	amzn_assoc_banner_id = "1G274HKHXM7QERC7YAG2";
	amzn_assoc_tracking_id = "somiibo-20";
	amzn_assoc_linkid = "b8fc9b1944b58ac224d7cec747f0a5dd";
     </script>
     <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
    </div> -->
