<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <h2 class="section-title text-center">A closer look at Somiibo's Bots</h2>
    <p class="lead text-center">Somiibo has a bot for almost every social media site. Mix and match them to create the ultimate marketing strategy.</p>
    <div class="space15"></div>
    <div class="slick-wrapper ">
      <div class="slick" data-slick='{"slidesToShow": 3, "responsive": [{"breakpoint":1024,"settings":{"slidesToShow": 2}},{"breakpoint":768,"settings":{"slidesToShow": 1}}]}'>
        <div class="item post mr-10 ml-10">
          <figure class="overlay overlay1 orange-1-grad"><img src="{{site.url}}/assets/images/dummy.png" alt="SoundCloud Bot" />
            <figcaption>
              <p class="from-top">Somiibo is a premium free SoundCloud bot and growth service that earns you unlimited free reposts, likes, comments, plays and followers.
                Stop wasting your time! With these free SoundCloud bot modules you don't have to worry about marketing your music</p>
            </figcaption>
          </figure>
          <div class="post-content text-center mt-20">
            <h3 class="post-title"><a href="{{site.url}}/platforms/soundcloud-bot{{site.trailing}}">SoundCloud Bot</a></h3>
            <div class="meta"><span class="category">Get followers, plays, likes, and more
            </span></div>
            <!-- /.meta -->
          </div>
          <!-- /.post-content -->
        </div>

        <div class="item post mr-10 ml-10">
          <figure class="overlay overlay1 bluepurple-1-grad"><img src="{{site.url}}/assets/images/dummy.png" alt="Proxy Browser" />
            <figcaption>
              <p class="from-top">Somiibo Proxy Browser allows you to log into any website with multiple accounts from one window.
                This can be very useful if you manage multiple social media profiles for each of the social media platforms. </p>
            </figcaption>
          </figure>
          <div class="post-content text-center mt-20">
            <h3 class="post-title"><a href="{{site.url}}/platforms/proxy-browser{{site.trailing}}">Proxy Browser</a></h3>
            <div class="meta"><span class="category">Connect to multiple proxies at the same time
            </span></div>
            <!-- /.meta -->
          </div>
          <!-- /.post-content -->
        </div>

        <div class="item post mr-10 ml-10">
          <figure class="overlay overlay1 purple-1-grad"><img src="{{site.url}}/assets/images/dummy.png" alt="Instagram Bot" />
            <figcaption>
              <p class="from-top">Somiibo is a premium free Instagram bot and growth service that earns you unlimited free likes, comments, shoutouts and followers.
                Stop wasting your time! With these free Instagram bot modules you don't have to worry about marketing your content! </p>
            </figcaption>
          </figure>
          <div class="post-content text-center mt-20">
            <h3 class="post-title"><a href="{{site.url}}/platforms/instagram-bot{{site.trailing}}">Instagram Bot</a></h3>
            <div class="meta"><span class="category">Get followers, likes, and more
            </span></div>
            <!-- /.meta -->
          </div>
          <!-- /.post-content -->
        </div>

        <div class="item post mr-10 ml-10">
          <figure class="overlay overlay1 greenpurple-1-grad"><img src="{{site.url}}/assets/images/dummy.png" alt="YouLikeHits Bot" />
            <figcaption>
              <p class="from-top">Somiibo is a premium free YouLikeHits bot and growth service that earns you unlimited free YouLikeHits points.
                Stop wasting your time! With these free YouLikeHits points you can get free followers on Instagram, more SoundCloud followers, never ending followers on Twitter, and unlimited Facebook likes! </p>
            </figcaption>
          </figure>
          <div class="post-content text-center mt-20">
            <h3 class="post-title"><a href="{{site.url}}/platforms/youlikehits-bot{{site.trailing}}">YouLikeHits Bot</a></h3>
            <div class="meta"><span class="category">Get unlimited points
            </span></div>
            <!-- /.meta -->
          </div>
          <!-- /.post-content -->
        </div>

        <div class="item post mr-10 ml-10">
          <figure class="overlay overlay1 lightblue-1-grad"><img src="{{site.url}}/assets/images/dummy.png" alt="Twitter Bot" />
            <figcaption>
              <p class="from-top">Somiibo is a premium free Twitter bot and growth service that earns you unlimited free likes, comments, retweets and followers.
                Stop wasting your time! With these free Twitter bot modules you don't have to worry about marketing your content! </p>
            </figcaption>
          </figure>
          <div class="post-content text-center mt-20">
            <h3 class="post-title"><a href="{{site.url}}/platforms/twitter-bot{{site.trailing}}">Twitter Bot</a></h3>
            <div class="meta"><span class="category">Get followers, likes, and more
            </span></div>
            <!-- /.meta -->
          </div>
          <!-- /.post-content -->
        </div>




        <!-- /.item -->
      </div>
      <!--/.slick -->
      <div class="space20"></div>
      <div class="slick-nav-container">
        <div class="slick-nav"></div>
      </div>
      <!--/.slick-nav-container -->
    </div>
    <!--/.slick-wrapper -->
  </div>
  <!-- /.container -->
</div>
